*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodyDiem{
    display: flex;
    padding: 10px;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    justify-content: flex-start ;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    background-color: antiquewhite;
}
.table th{
    border: 1px solid #7c7979;
    width: 70px;
    background-color: #66CCFF;
}
.trBodyDiem td{
    border: 1px solid #000;
    text-align: center;
}
h1 {
    text-align: left;
  }
